//COLORS
$primary: #376e6f;
$primary-dark: #1c3334;

$secondary: #da7b93;
$secondary-dark: #2e151b;

$grey-dark-2: #999;
$grey-dark-1: #333;

$white: #fff;
$black: #000;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-s: 6rem;

//FONT
$default-font-size: 1.6rem; //16px
